@using MiPrimeraAplicacionEnNetCore.Clases;
@model IEnumerable<PersonaCLS>

@{
    ViewData["Title"] = "Index";
    List<SelectListItem> listaSexo = ViewBag.listaSexo;
}

<h1>Index Persona</h1>
<a class="btn btn-primary" asp-action="Agregar" asp-controller="Persona">Nuevo</a>

<form id="frmPersona" asp-controller="Persona" asp-action="Index" method="post"
      style="display: grid; grid-template-columns: 1fr 2fr 1fr 1fr" class="mb-2">
    <label>Ingrese Sexo</label>
    @Html.DropDownList("iidsexo", listaSexo, new { @class = "form form-control" })
    <input type="submit" class="btn btn-primary" value="Buscar" />
    <input type="button" class="btn btn-danger" value="Limpiar" onclick="Limpiar()" />
</form>

<table class="table" id="table">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.iidPersona)</th>
            <th>@Html.DisplayNameFor(model => model.nombreCompleto)</th>
            <th>@Html.DisplayNameFor(model => model.email)</th>
            <th>@Html.DisplayNameFor(model => model.nombreSexo)</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PersonaCLS oPersonaCLS in Model)
        {
            <tr>
                <td>@oPersonaCLS.iidPersona</td>
                <td>@oPersonaCLS.nombreCompleto</td>
                <td>@oPersonaCLS.email</td>
                <td>@oPersonaCLS.nombreSexo</td>
                <td>
                    <i class="fa fa-trash btn btn-danger" onclick="eliminarPersona(@oPersonaCLS.iidPersona)"></i>
                    <a asp-action="Editar" asp-controller="Persona" asp-route-id="@oPersonaCLS.iidPersona"><i class="fa fa-edit btn btn-primary" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Editar" asp-controller="Persona" method="post" id="frmEliminarPersona">
    <input type="hidden" name="idPersona" id="idPersona" />
</form>

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/generic.js"></script>

<script>
    window.onload = function () {
        $(document).ready(function () {
            $('#table').DataTable();
        });
    }
</script>

<script>
    function Limpiar() {
        document.getElementById("iidsexo").value = "";
        document.getElementById("frmPersona").submit();
    }

    function eliminarPersona(id) {
        document.getElementById("idPersona").value = id;

        mostrarModal().then(res => {
            if (res.value) {
                var frmEliminarPersona = document.getElementById("frmEliminarPersona");
                frmEliminarPersona.submit();
            }
        })
    }
</script> 