@{
    @using MiPrimeraAplicacionEnNetCore.Clases;
    @model IEnumerable<PaginaCLS>

    ViewData["Title"] = "Index";
}

<h1>Lista Paginas</h1>

<a class="btn btn-primary btn-sm" asp-action="Agregar" asp-controller="Pagina"><i class="fas fa-plus"></i>Agregar Pagina</a>

<form class="mb-2" id="frmPagina" asp-controller="Pagina" asp-action="Index" method="post"
      style="display: grid; grid-template-columns: 1fr 2fr 1fr 1fr">
    <label>Filtro por Mensaje</label>
    <input type="text" id="mensaje" class="form-check form-control" name="mensaje" value="@ViewBag.Mensaje" />
    <input type="submit" class="btn btn-primary" value="Buscar" />
    <input type="button" value="Limpiar" class="btn btn-danger" onclick="Limpiar()" />
</form>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.idPagina)</th>
            <th>@Html.DisplayNameFor(model => model.mensaje)</th>
            <th>@Html.DisplayNameFor(model => model.accion)</th>
            <th>@Html.DisplayNameFor(model => model.controlador)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PaginaCLS oPaginaCLS in Model)
        {
            <tr>
                <td>@oPaginaCLS.idPagina</td>
                <td>@oPaginaCLS.mensaje</td>
                <td>@oPaginaCLS.accion</td>
                <td>@oPaginaCLS.controlador</td>
            </tr>
        }
    </tbody>
</table>

<script>
    function Limpiar() {
        document.getElementById("mensaje").value = "";
        document.getElementById("frmPagina").submit();
    }
</script> 