@using MiPrimeraAplicacionEnNetCore.Clases;
@model IEnumerable<EspecialidadCLS>

@{
    ViewData["Title"] = "Index";
    string mensaje = ViewBag.mensaje;
}


<h1>@ViewBag.mensaje</h1>

<a class="btn btn-primary" asp-action="Agregar" asp-controller="Especialidad">Agregar</a>

<form asp-controller="Especialidad" asp-action="Index" method="post" class="mb-2"
      style="display: grid; grid-template-columns: 1fr 2fr 1fr 1fr" id="frmEspecialidad">
    <label>Ingrese nombre especialidad</label>
    <input type="text" id="nombre" class="form form-control" name="nombre" value="@ViewBag.nombreEspecialidad"/>
    <input type="submit" value="Buscar" class="btn btn-info" />
    <input type="button" value="Limpiar" class="btn btn-danger" onclick="Limpiar()" />
</form>

<table class="table" id="table">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model=>model.iidEspecialidad)</th>
            <th>@Html.DisplayNameFor(model=>model.nombre)</th>
            <th>@Html.DisplayNameFor(model=>model.descripcion)</th>
        </tr>
    </thead>
    <dbody>
        @foreach (EspecialidadCLS oEspecialidad in Model)
            {
                <tr>
                    <td>@oEspecialidad.iidEspecialidad</td>
                    <td>@oEspecialidad.nombre</td>
                    <td>@oEspecialidad.descripcion</td>
                    <td>
                        <i class="fa fa-trash btn btn-danger" aria-hidden="true"
                           onclick="eliminarEspecialidad(@oEspecialidad.iidEspecialidad)">
                        </i>
                        <a class="fa fa-edit btn btn-primary" aria-hidden="true" asp-controller="Especialidad" asp-action="Editar" asp-route-id="@oEspecialidad.iidEspecialidad"/>

                    </td>
                </tr>
            }
    </dbody>

</table>

<form asp-action="Eliminar" asp-controller="Especialidad" method="post" id="frmEliminarEspecialidad">
    <input type="text" id="txtIdEspecialidad" name="Iidespecialidad" />
</form>

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/generic.js"></script>

<script>

    window.onload = function () {
        $(document).ready(function () {
            $('#table').DataTable();
        });
    }


    function Limpiar() {
        document.getElementById("nombre").value = "";
        document.getElementById("frmEspecialidad").submit();

    }

    function eliminarEspecialidad(idEspecialidad) {
        document.getElementById("txtIdEspecialidad").value = idEspecialidad;
        mostrarModal().then(res => {
            if (res.value) {
                var frmEliminarEspecialidad = document.getElementById("frmEliminarEspecialidad");
                frmEliminarEspecialidad.submit();
            }
        })

    }
</script>